@import './styles/variables.css';
@import './styles/reset.css';

#root {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg);
  position: relative;
}

@media (max-width: 767px) {
  #root {
    width: 100%;
  }
}
