@import './styles/variables.css';
@import './styles/reset.css';

#root {
  max-width: var(--mobile-width);
  margin: 0 auto;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg);
  position: relative;
}